<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File" name="allfile" fileName="../log/${date:format=yyyyMMdd}.log" 
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="../log/${date:format=yyyyMMdd}.log" />
		<appendToFile value="true" />

		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<acceptOnMatch value="true" />
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5level %date [%thread] %-22.22c{1} - %m%n" />
		</layout>
	</appender>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>