USE [Dev_GIC]
GO
/****** Object:  Table [dbo].[Actuals]    Script Date: 12/20/2021 9:56:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actuals](
	[State] [float] NULL,
	[ActualPopulation] [float] NULL,
	[ActualHouseholds] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estimates]    Script Date: 12/20/2021 9:56:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estimates](
	[State] [float] NULL,
	[Districts] [float] NULL,
	[EstimatesPopulation] [float] NULL,
	[EstimatesHouseholds] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Actuals] ([State], [ActualPopulation], [ActualHouseholds]) VALUES (1, 22805514.454400692, 8523999.039110804)
INSERT [dbo].[Actuals] ([State], [ActualPopulation], [ActualHouseholds]) VALUES (4, 13456843.755722977, 5230873.9089159751)
INSERT [dbo].[Actuals] ([State], [ActualPopulation], [ActualHouseholds]) VALUES (7, 10150130.002810741, 3792196.4279488353)
GO
INSERT [dbo].[Estimates] ([State], [Districts], [EstimatesPopulation], [EstimatesHouseholds]) VALUES (1, 2010, 2147429, 812112)
INSERT [dbo].[Estimates] ([State], [Districts], [EstimatesPopulation], [EstimatesHouseholds]) VALUES (2, 2010, 282121, 97868)
INSERT [dbo].[Estimates] ([State], [Districts], [EstimatesPopulation], [EstimatesHouseholds]) VALUES (3, 2010, 1207663, 453784)
GO
